@import url('https://fonts.cdnfonts.com/css/silkscreen');

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,88,1) 57%, rgba(0,212,255,1) 100%);
}

h1, h2, p{
    color: #41035e;
line-height: 1.8;
letter-spacing: 1px;
word-spacing: 0px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
font-family: 'Silkscreen';font-size: 22px;
font-family: 'Silkscreen', sans-serif;
font-family: 'Silkscreen Expanded', sans-serif;
}

#info{
    border-radius: 25px;
    background: #000000;
    padding: 20px; 
    width: 5000px;
    height: 150px;
}
