@font-face {
    font-family: Silkscreen;
    src: url(https://fonts.googleapis.com/css?family=Silkscreen);
  }

body{
    background-image: linear-gradient(0deg, rgba(8, 8, 8, 1) 7%, rgba(145, 186, 158, 1) 100%);
}

h1, h2{
    color: #159983;
line-height: 1.8;
letter-spacing: 1px;
word-spacing: 0px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
font-family: 'Silkscreen';font-size: 22px;
}

